{% extends "base.html" %}
{% block title %}Customer Login | Coolnira{% endblock %}

{% block content %}
<section class="auth-section">
  <div class="auth-card">

    <div class="auth-header">
      <h2>Customer Login</h2>
      <p>Access your Coolnira dashboard</p>
    </div>

    {% for message in messages %}
      <div class="auth-error">{{ message }}</div>
    {% endfor %}

    <form method="post" class="auth-form">
      {% csrf_token %}

      <div class="form-group">
        <input type="text" name="username" required>
        <label>Username</label>
      </div>

      <div class="form-group">
        <input type="password" name="password" required>
        <label>Password</label>
      </div>

      <button class="btn-auth">Login</button>
    </form>

    <p style="text-align:center;margin-top:15px;">
      Don’t have an account?
      <a href="{% url 'customer_register' %}">Register</a>
    </p>

  </div>
</section>
{% endblock %}
